<% provide(:title, "About") %>

<!-- Page Content -->

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>About the 52 Apps Project</h1>

            <!-- Date/Time -->
            <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p> -->

            <!-- Preview Image -->

            <!-- Post Content -->
            <p class="lead">I wrote my first line of computer code on January 26, 2015, as part of the Tech Talent South code school class. </p>
            <p>Eight weeks later, I 'graduated' with just enough Ruby on Rails knowledge to be dangerous.</p>
            <p>To keep learning, I'm creating 52 apps, websites, or projects over the next year, with a focus on improving my skills.</p>
            <p>Each week I'll have a different goal, like learning to write unit tests, or using Grunt, or contributing to someone else's open source project. </p>
            <p>And each week I'll post here what I'm learning. </p>
            <p>This project was inspired by Jennifer Dewalt's <a href="http://blog.jenniferdewalt.com">180 Websites in 180 Days project</a></p>

<!--             <hr> -->

            <!-- Blog Comments -->

            <!-- Comments Form -->
<!--             <div class="well">
                <h4>What do you think?</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div> -->

            <!-- Posted Comments -->

            <!-- Comment -->
            <!-- <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                </div>
            </div> -->

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/siderules' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->

