<% provide(:title, "The Goals") %>

<!-- Page Content -->

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>The Goals</h1>

            <!-- Date/Time -->
            <!-- <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p> -->

            <!-- Preview Image -->
            <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->

            <!-- Post Content -->
            <p class="lead">A changing list of things I'd like to learn: </p>
            <ul>
                <li>Writing unit tests</li>
                <li>Mixins in Sass</li>
                <li>Use the <a href="placegant.me">placeGant</a> gem for a project</li>
                <li>Using APIs</li>
                <li>Using Grunt or Gulp</li>
                <li>Getting super comfortable with Bootstrap</li>
                <li>Using Devise</li>
                <li>Contributing to an open source project (someone I know)</li>
                <li>Contributing to an open source project (someone I don't know)</li>
                <li>Writing good documentation</li>
                <li>TDD on a project the whole way through</li>
                <li>Cucumber (maybe?)</li>
                <li>Getting into the "git everything" habit</li>
                <li>Properly using branches for my repos</li>
                <li>More advanced Sass</li>
                <li>Beginner level Javascript</li>
                <li>And intermediate level Javascript</li>
                <li>And Coffeescript</li>
                <li>And jQuery</li>
                <li>And Angular.js</li>
                <li>And REACT</li>
                <li>Using AJAX</li>
                <li>Deploying to Heroku</li>
                <li>Creating a gem</li>
                <li>Contributing to an open source project</li>
                <li>Create a truly useful app</li>
                <li>...???...</li>
                <li>If you have other ideas, <%= link_to "please let me know", contact_path %></li>
            </ul>

<!--             <hr> -->

            <!-- Blog Comments -->

            <!-- Comments Form -->
<!--             <div class="well">
                <h4>What do you think?</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div> -->

            <!-- Posted Comments -->

            <!-- Comment -->
            <!-- <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                </div>
            </div> -->

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/siderules' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->
