<% provide(:title, "The Rules") %>

<!-- Page Content -->

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1>The Rules</h1>

            <!-- Post Content -->
            <p>One website, web app, or development project each week from Monday morning to Sunday midnight.</p><br>
            <p>All code open source and posted to <a href="https://github.com/AngieGreen">Github</a>.</p><br>
            <p>At least one post here per project, sharing what I've learned.</p><br>
            <p>No refactoring of the code after the project's week is over.</p>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/sidegoals' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->
