<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.category.name, post.category %></span>
  <span class="date">Day <%= post.day %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
  </span>
</li>