<% provide(:title, "The Projects") %>

    <!-- Page Content -->

        <div class="row">

        <!-- Projects by Category-->
        <% @categories.each do |category| %>
            <div class="col-md-7">

                <ol>
                    <h1>IMAGE GOES HERE</h1>
            </div>
            <div class="col-md-5">
                    <h2><%= link_to category.name, category_path(category[:id]) %></h2>
                    <h3>Week number <%= category.week %></h3>
                    <p><%= raw(category.minicontent) %></p>
                    <span class="btn btn-primary"><%= link_to "More about this Project", category_path(category[:id]) %></span>

                </ol>
<hr>
            </div>
        <% end %>
        </div>
        <!-- /.row -->