<% provide(:title, @categories.name) %>

    <!-- Page Content -->

        <div class="row">

        <!-- Projects by Category-->
            <% @categories.each do |eachproject| %>
            <div class="col-md-7">
                <ol>
                    <h1>IMAGE GOES HERE</h1>
            </div>
            <div class="col-md-5">
                    <h3><%= eachproject.name %></h3>
                    <p><%= eachproject.week %>
                    <p><%= eachproject.minicontent %></p>
                    <span class="btn btn-primary"><%= link_to "More", posts_path %></span>
                </ol>
            </div>
            <% end %>
        </div>
        <!-- /.row -->