<!-- Side Widget Well -->
<div class="well">
    <h4>Goals This Week</h4>
    <p>Get comfortable with Bootstrap</p>
    <p>Create an app without scaffolding</p>
    <p>Write tests!!!</p>
    <%= link_to "The Full List", goals_path %>
</div>