<!-- Side Widget Well -->
<div class="well">
    <h4>The Rules</h4>
    <p>One website, web app, or project each week from Monday morning to Sunday midnight.</p><br>
    <p>All code open source and posted to Github.</p><br>
    <p>At least one post here per project, sharing what I've learned.</p><br>
    <p>No refactoring of the code after the project's week is over.</p>
</div>