<!-- Side Widget Well -->
<div class="well">
    <h4>Goals This Week</h4>
    <ul class="list-unstyled">
      <li>Get comfortable with Bootstrap</li>
      <li>Create an app without scaffolding</li>
      <li>Write tests!!!</li>
      <%= link_to "The Full List", goals_path %>
    </ul>
</div>