<!-- Side Widget Well -->
<div class="well">
    <h4>The Rules</h4>
      <ul class="list-unstyled">
        <li>One website, web app, or project each week from Monday morning to Sunday midnight.</li><br>
        <li>All code open source and posted to <a href="https://github.com/AngieGreen">Github</a>.</li><br>
        <li>At least one blog post per project, sharing what I've learned.</li><br>
        <li>No refactoring of the code after the project's week is over.</li>
      </ul>
</div>