<!-- Side Widget Well -->
<div class="well">
    <h4>Goals This Week</h4>
    <ul class="list-unstyled">
      <li>Finish this blog app!</li>
      <li>Create a portfolio of projects</li>
      <%= link_to "The Full List", goals_path %>
    </ul>
</div>