<!-- Side Widget Well -->
<div class="well">
    <h4>My Gear</h4>
      <ul class="list-unstyled">
          <li>A $200 ASUS (yup, Windows) laptop</li>
          <li>Sublime Text 2</li>
          <li>No internet at home, which is where I work most often</li>
          <li>Agile Web Development with Rails 4 book</li>
      </ul>
</div>